body {
    margin-left: auto;
    max-width: 50em;
    margin-right: auto;
    margin-top: 5em;
    padding-left: 1em;
    padding-right: 1em;
}

.bs-example {
    margin-bottom: 1em;
}

.eachResult {
    margin-bottom: 0.25em;
    padding: 0.25em 0.5em;
    display: inline-block;
    margin-right: 0.25em;
    border-radius: 0.25em;
    font-size: 90%;
}

.manualtest {
    font-size: 0.75em;
    margin-left: 0.25em;
    text-decoration: none;
    color: #f00;
}

.errorText {
    margin-bottom: 1em;
    padding: 0.25em 0.5em;
    display: inline-block;
    margin-right: 0.25em;
    border-radius: 0.25em;
    display : block;
}

.result {
    padding: 0.75em;
    background-color: #EAEAEA;
    margin-bottom: 1em;
    border-radius: 0.25em;
}

.bg-success {
    border: 1px solid #5AB732;
}

.bg-info {
    border: 1px solid #0C75A9;
}

.bg-danger {
    border: 1px solid #EC6060;
}

#loadingStatusWrap {
    margin: 0 auto;
    max-width: 10em;
}

#loadingStatusImage {
    width: 100%;
    height: auto;
    display: block;
}

.btn-default {
    margin-bottom: 0.5em;
    margin-right: 0.5em;
}